<div class="article-details">
    {{ if .Params.categories }}
    {{ partialCached "article/components/breadcrumbs-top" . .RelPermalink }}
    {{ end }}
    <h2 class="article-title center-text">
        <a href="{{ .RelPermalink }}">
            {{- .Title -}}
        </a>
    </h2>
    <div class="article-time">
            {{/*  {{ partial "helper/icon" "clock" }}
    <time>{{- .Date.Format (or .Site.Params.dateFormat.published "Jan 02, 2006") -}}</time>  */}}
    {{ partial "post/meta.html" . }}
</div>
    {{ with .Params.description }}
    <h3 class="article-subtitle">
        {{ . }}
    </h3>
    {{ end }}
</div>