{{ define "top-toc" }}
    {{ if (.Scratch.Get "hasTOC") }}
        <aside class="top-toc">
            <section class="widget archives">
                <h2 class="title-toc" style="margin: 20px 0 0 0">{{ T "article.tableOfContents" }}</h2>
                <div class="mobile--widget--toc">
                    {{ .TableOfContents }}
                </div>
            </section>
        </aside>
    {{ end }}
{{ end }}

<header class="article-header">
    {{- $image := partialCached "helper/image" (dict "Context" . "Type" "article") .RelPermalink "article" -}}
    {{ if $image.exists }}
        <div class="article-image" style="display:none;">
            <a href="{{ .RelPermalink }}">
                {{ if $image.resource }}
                    {{- $Permalink := $image.resource.RelPermalink -}}
                    {{- $Width := $image.resource.Width -}}
                    {{- $Height := $image.resource.Height -}}
                    {{- $Srcset := "" -}}
                    
                    {{- if (default true .Page.Site.Params.imageProcessing.cover.enabled) -}}
                        {{- $thumbnail := $image.resource.Resize "800x" -}}
                        {{- $thumbnailRetina := $image.resource.Resize "1600x" -}}
                        {{- $Srcset = printf "%s 800w, %s 1600w" $thumbnail.RelPermalink $thumbnailRetina.RelPermalink -}}
                        {{- $Permalink = $thumbnail.RelPermalink -}}
                        {{- $Width = $thumbnail.Width -}}
                        {{- $Height = $thumbnail.Height -}}
                    {{- end -}}

                    <img loading="lazy" src="{{ $Permalink }}"
                        {{ with $Srcset }}srcset="{{ . }}"{{ end }}
                        width="{{ $Width }}" 
                        height="{{ $Height }}" 
                        loading="lazy"
                        alt="Featured image of post {{ .Title }}" alt="{{ .Title }}"/>
                {{ else }}
                    <img loading="lazy" src="{{ $image.permalink }}" alt="{{ .Title }}" />
                {{ end }}
            </a>
        </div>
    {{ end }}
    {{ partialCached "article/components/details" . .RelPermalink }}
    {{- block "top-toc" . -}}{{ end }}
</header>